header {
  position: flex;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar {
  align-items: center;
  padding: 2rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-link {
  border-radius: 0.5rem;
}
.navbar-brand:hover,
.nav-link:hover {
  background-color: #77777777;
}
.my-info {
  padding: 0% 3%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  height: 100%;
  margin: auto;
}
.my-role,
.about-me {
  padding: 1rem;
  height: 75%;
  width: 50%;
}
.my-role {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.my-functions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.my-functions h3 {
  padding: 1.5%;
  font-size: 2.5rem;
  color: #ffffff;
  display: inline-block;
  border-bottom: 2px solid #3a3add;
  border-left: 2px solid #3a3add;
}

.about-me h2 {
  font-size: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-text {
  text-align: justify;
  margin: 0;
}

header .styleTech{
  font-weight: bold;
}

header .styleJV {
  background-color: #ff0015;
}

header .styleJS {
  background-color: #ddad00;
}

header .stylePY {
  background-color: #4800ff;
}

.styleEnph,
.styleTech {
  padding: 0 1%;
  border-radius: 0.25rem;
  color: white;
}

.styleEnph {
  background-color: #fff;
  font-weight: bold;
  color: black;
}

/* Botão fixo */

.fixed-button {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  padding: 10px 20px; 
  background-color: #587ac5; 
  border: none;
  border-radius: 5px; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transição suave para a cor de fundo */
}

.fixed-button:hover {
  background-color: #4d43df;
  color: #fff; /* Cor de fundo ao passar o mouse */
}
