header {
  position: flex;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar {
  align-items: center;
  padding: 2rem;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-link {
  border-radius: 0.5rem;
}
.navbar-brand:hover,
.nav-link:hover {
  background-color: #77777777;
}
.my-info {
  padding: 0% 3%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  height: 100%;
  margin: auto;
}
.my-role,
.about-me {
  padding: 1rem;
  height: 75%;
  width: 50%;
}
.my-role {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.my-functions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

.my-functions h3 {
  padding: 1.5%;
  font-size: 2.5rem;
  color: #ffffff;
  display: inline-block;
  border-bottom: 2px solid #3a3add;
  border-left: 2px solid #3a3add;
}

.about-me h2 {
  font-size: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-text {
  text-align: justify;
  margin: 0;
}

header .styleJV {
  background-color: #ff0015;
}

header .styleJS {
  background-color: #ddad00;
}

header .stylePY {
  background-color: #4800ff;
}

.styleEnph,
.styleTech {
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  color: white;
}

.styleEnph {
  background-color: #fff;
  font-weight: bold;
  color: black;
}

/* Botão fixo */

.fixed-button {
  position: fixed; /* Mantém o botão fixo na tela */
  bottom: 20px; /* Distância do fundo da tela */
  right: 20px; /* Distância da direita da tela */
  padding: 10px 20px; /* Espaçamento interno do botão */
  background-color: #6600ff; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.fixed-button:hover {
  background-color: #7d00b3; /* Cor de fundo ao passar o mouse */
}
