#projects {
  height: 100vh;
  box-sizing: border-box;
}
.carousel {
  height: 100%;
}
.carousel-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;   
  pointer-events: none;
}

.carousel-item.active {
  display: flex;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%; 
}

.carousel-schema-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 70%;
  padding: 0;
  transition: background-color 0.4s ease, width 0.5s ease, height 0.5s ease;
  pointer-events: auto;
  border-radius: 0.5rem;
}

.carousel-schema-primary:hover {
  background-color: #6969693d;
  height: 50%;
  width: 85%;
  box-shadow: 4px 4px 8px #1f1f1f;
}

.carousel-image-primary {
  width: 30%;
  height: 100%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-desc-primary {
  width: 70%;
  height: 100%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-image-project {
  height: 100%;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out; /* Adicionando transição suave */
}

.carousel-image-project:hover {
  box-shadow: 5px 5px 10px #1f1f1f;
  opacity: 0.5; /* Efeito de sombra ao passar o mouse */
}

.image-project1{
  background: url(images/Coin%20Viewer.png) center / cover;
}
.image-project2 {
  background: url(images/To%20do%20list.png) center / cover;
}

.carousel-desc-title {
  text-align: center;
  padding: 2%;
}
.carousel-desc-text{
  text-align: justify;
}
.carousel-desc-primary-links {
  text-align: right;
}
.carousel-desc-links-icon{
  padding: 1%;
  color: white;
  background-color: #0d1017;
  border-radius: 0.25rem;
}
.carousel-desc-links-icon:hover{
  color: #7125ff;
}
.projectName {
  color: rgb(0, 123, 255);
}
.projectName:hover {
  color: #070f3b;
}
.styleTool {
  padding: 0 0.5rem;
  background-color: #5a899e;
}
.styleTech {
  padding: 0 0.5rem;
  border-radius: 5px;
  color: white;
}
.styleHTML {
  background-color: #ff6600;
}
.styleCSS {
  background-color: #3ca0e7;
}
.styleCPP {
  background-color: #7700ff;
}
.styleJV {
  background-color: #ff0015;
}
.styleJS {
  background-color: #cec028;
}
.stylePY {
  background-color: #3c00ff;
}
.styleReact {
  background-color: #00ddff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
.carousel-indicators {
  margin-bottom: 0;
}
